@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.resources {
  font-size: 1.5em;
  @media screen and (max-width: 400px) {
    font-size: 1em;
  }
}

.cover {
  position: relative;
}

#attribution {
  position: absolute;
	bottom: 0px;
  font-size: 0.25em;
  width:100%;
}
